.header{
    height: 180px;
    //background-color: #03A9F4;
    background-image: linear-gradient(#2980B9, #6DD5FA);
    width: 100%;
    padding-top: 10px;
}

ion-content {
    --background: linear-gradient(to top, #636FA4, #E8CBC0);
}

.header h2{
    color: white;
    text-align: center;
    font-weight: bold;
}

.space-between{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.followers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followers p{
    color: white;
    margin: 8px 0px 0px 0px;
}

.likes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.likes p{
    color: white;
    margin: 8px 0px 0px 0px;
}

.profile-image{
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

.white-ring{
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}

.blue-ring{
    border: #1d8add solid 7px;
    border-radius: 50%;
    width: fit-content;
}

.logo-position{
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

.tracks-liked{
    margin-top: 50px;
}
.tracks-liked h4{
    //margin-top: 50px;
    font-weight: bold;
}
.playlists{
    margin-top: 30px;
}
.playlists h4{
    //margin-top: 50px;
    font-weight: bold;
}


span{
    padding-left: 2px!important;
    padding-right: 2px!important;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    width: 85px!important;
    height: 70px!important;
  
  }
  ion-slide:hover{
    //background: rgba(205, 9, 9, 0.43);
    cursor: pointer;
  
  }
  span img{
    width: 55px;
    height: 55px;
  }
  
  ion-button {
      --color: grey;
  }
  
  ion-slide {
    width: 90px!important;
    height: 85px!important;
    //background-color:  #FFF;
    float: left;
    margin-left: 1.5px!important;
    margin-right: 1.5px!important;
    border-radius: 50px!important;
  }
  ion-slides{
    //background-color:  rgba(194, 193, 194, 0.52);
  }

  ion-refresher ion-refresher-content {
    --color:rgb(255, 15, 15) !important;
    
    .refresher-pullingText, .refresher-refreshingText, .refresher-refreshing-icon, .refresher-pulling-icon {
      color: rgb(0, 238, 255) !important;
    }
  }

  .imageStyle{
    //display:  inline-block;
    border-radius: 10px;
    img{
        object-fit: cover !important;
        //max-width: 100%;
        border-radius: 9px;
        margin: 0 !important;
    }
}