<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header">
    <h2>Yumenokko</h2>

    <div class="space-between">
      <div class="followers">
        <ion-chip outline="true" color="dark">45</ion-chip>
        <p>Followers</p>
      </div>

      <div class="likes">
        <ion-chip outline="true" color="dark">100</ion-chip>
        <p>Likes</p>
      </div>
    </div>
      
      <div class="logo-position">
        <div class="blue-ring">
          <div class="white-ring">
            <div class="profile-image">
              <img src="https://cdn.myanimelist.net/images/voiceactors/1/45819.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
