<ion-header>
  <ion-toolbar>
    <ion-title>Music Searcher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!--<ion-button color="primary" (click) = "button()">Primary</ion-button>-->
  <ion-searchbar [(ngModel)]="trackName" mode="ios" (ionChange)="searchTrack()"></ion-searchbar>
  
  <ion-list class="list" color="transparent" lines="none">
    
        <ion-item  item="item" class="list" color="transparent" button *ngFor="let item of tracks" mode="ios" [routerLink]="['/', 'music-details', item.name]">
          
          <ion-avatar class="list" color="none" slot="start">
            <img [src]="item.thumbnail" onError="this.src='https://cdn3.iconfinder.com/data/icons/music-and-audio-1/26/music-audio-1027-512.png'" >
          </ion-avatar>
    
          <ion-label color="none" class="list">
            <h2><b>{{ item.name }}</b></h2>
            <h4>{{ item.duration }}</h4>
    
          </ion-label>
    
          <ion-icon slot="end" name="musical-notes"></ion-icon>
    
        </ion-item>
     
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
