<ion-header>
  <ion-toolbar>
    <ion-title>Music Searcher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
    </section>
  
  <!--<ion-button color="primary" (click) = "button()">Primary</ion-button>-->
  <ion-searchbar [(ngModel)]="trackName" mode="ios" (ionChange)="searchTrack()"></ion-searchbar>
  
  <ion-list class="list" color="transparent" lines="none">
    
    <ion-item-sliding *ngFor="let item of tracks">
      <ion-item item="item" class="list" color="transparent" button  mode="ios" [routerLink]="['/', 'music-details', item.name]">
            
        <ion-avatar class="list" color="none" slot="start">
          <img [src]="item.thumbnail" onError="this.src='https://cdn3.iconfinder.com/data/icons/music-and-audio-1/26/music-audio-1027-512.png'" >
        </ion-avatar>
        
        <ion-label color="none" class="list">
          <h2><b>{{ item.name }}</b></h2>
          <h4>{{ item.duration }}</h4>
          
        </ion-label>
        
        <ion-icon slot="end" name="musical-notes"></ion-icon>
        
      </ion-item>

      <ion-item-options side="start">        
        <ion-item-option color="transparent">
          <ion-icon color="danger" slot="icon-only" name="heart">
          </ion-icon>
      </ion-item-option>
    </ion-item-options>

      
        
        </ion-item-sliding>
     
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-content>
    

