ion-content {
    --background: linear-gradient(to top, #636FA4, #E8CBC0);
  }
  
  ion-toolbar {
    --background: #E8CBC0;
  }

ion-card{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    
    .imageStyle{
        //display:  inline-block;
        border-radius: 10px;
        img{
            object-fit: cover !important;
            //max-width: 100%;
            border-radius: 9px;
            margin: 0 !important;
        }
    }
  }

.title{
    color: white;
}
 
.text-color{
    background-color: green($color: #e22e2e);
}

.columns{
    column-count: 3;
}

.column{
    display: inline-block;
    margin: 0 0 10px;
    padding: 5px;
}