<ion-content>
  <div class="logo">
    <ion-icon color="light" name="musical-notes"></ion-icon>
  </div>
  <div class="center">
    <ion-item>
      <ion-label color="light">UserName</ion-label>
      <ion-input color="light" placeholder="username" type="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="light">Password</ion-label>
      <ion-input color="light" placeholder="password" type="password"></ion-input>
    </ion-item>
    
    <br>
    <ion-button color="light" shape="round" expand="block" fill="outline">Log In</ion-button>
    <br>
    <ion-button color="primary" shape="round" expand="block">Register</ion-button>
  </div>
</ion-content>
