<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-item>
      <ion-label><b>Login:</b></ion-label>
      <ion-input clearInput="true" name="username" [(ngModel)]="registerCredentials.login" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>UserName:</b></ion-label>
      <ion-input clearInput="true" name="username" [(ngModel)]="registerCredentials.username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>LastName:</b></ion-label>
      <ion-input clearInput="true" name="username" [(ngModel)]="registerCredentials.lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>Email:</b></ion-label>
      <ion-input clearInput="true" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>Password:</b></ion-label>
      <ion-input clearInput="true" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>Confirm Password:</b></ion-label>
      <ion-input clearInput="true" name="password" [(ngModel)]="registerCredentials.confirmPassword" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>MM DD YY</b></ion-label>
      <ion-datetime displayFormat="MM DD YYYY" placeholder="Select Date"></ion-datetime>
    </ion-item>

    

    <ion-card>
      <ion-card-content>
        <ion-img [src]="displayImage"></ion-img>
      </ion-card-content>
    </ion-card>


      <ion-button type="file" shape="round" expand="block" fill="outline" color="danger" (click)="selectImage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Select Image
      </ion-button>
    
    <ion-button shape="round"  expand="block" type="submit"  (click)="register()" [disabled]="registerForm.invalid">Register</ion-button>
    <ion-button shape="round"  expand="block" type="submit"  (click)="uploadImage()">Upload Photo</ion-button>
  </form>

</ion-content>
