<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
    <ion-button slot="end" type="submit" fill="clear"  color="success" (click)="register()" [disabled]="(registerForm.invalid) || (checkIsEnabled() == false)">Register</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-item>
      <ion-label><b>Login:</b></ion-label>
      <ion-input clearInput="true" name="login" [(ngModel)]="registerCredentials.login" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>First Name:</b></ion-label>
      <ion-input clearInput="true" name="username" [(ngModel)]="registerCredentials.firstName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>Last Name:</b></ion-label>
      <ion-input clearInput="true" name="lastname" [(ngModel)]="registerCredentials.lastName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>Email:</b></ion-label>
      <ion-input clearInput="true" name="email" type="email" [(ngModel)]="registerCredentials.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>Password:</b></ion-label>
      <ion-input clearInput="true" name="password"  type="password" [(ngModel)]="registerCredentials.password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>Confirm Password:</b></ion-label>
      <ion-input clearInput="true" name="confirmpassword" type="password" [(ngModel)]="confirmPassword" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><b>MM DD YY</b></ion-label>
      <ion-datetime displayFormat="MM DD YYYY" placeholder="Select Date"></ion-datetime>
    </ion-item>

    

    <ion-card>
      <ion-card-content>
        <img [src]="base64Image" (click)="selectImage()"/>
      </ion-card-content>
    </ion-card>


      <!--<ion-button type="file" shape="round" expand="block" fill="outline" color="danger" (click)="selectImage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Select Image
      </ion-button>-->
    
    <ion-button shape="round" expand="block" type="submit" fill="outline" color="danger" [disabled]="pathURL == undefined" (click)="uploadImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Upload Photo</ion-button>
  </form>

</ion-content>
